<h1 mat-dialog-title>
    Information Box
  </h1>
  
  <div mat-dialog-content>
    <p>This is a coding exercise for Truxio</p>
    <p>
        You can add new items to the list by typing it in the input field and then hitting enter or just clicking on the Add button.
    </p>
    <p>
        Once you bought the item you can just click on the check mark and it'll be marked as done.
    </p>
    <p>
        You can also delete items from the list by clicking on the trash can icon.
    </p>
  </div>
  
  <div mat-dialog-actions class="action-buttons" >
    <button mat-button (click)="onDismiss()" class="ok-button">Ok</button>
  </div>