.ok-button {
    border: none;
    background-color: #008cba;
    color: white;
    border-radius: 2px;
    padding: 6px 20px;
    float: right;
}

p {
    text-align: justify;
}

.action-buttons {
    float: right;
}